ultralytics==8.3.0
opencv-python==4.10.0.84
numpy==1.26.4
torch>=2.2.0
torchvision>=0.17.0
Pillow==10.4.0
pygame==2.6.0
pyttsx3==2.98
requests==2.32.3
python-telegram-bot==13.15
matplotlib==3.9.2
pandas==2.2.2
scipy==1.14.1
tqdm==4.66.5
PyYAML==6.0.2
tensorboard
seaborn
scikit-learn
